@model ProyectoAutos.Models.Usuario

@{
    ViewBag.Title = "Iniciar Sesion";
}

<style>

    .centrado {
       padding: 15px;
    }
</style>


<div class="row">
    <br /><br/>
    <div class="col-xs-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Imagenes/hyundaiElantra.jpg" alt="Hyundai" class="img-rounded">
                    <div class="carousel-caption">
                        <h3>Hyundai Elantra 2013</h3>
                        
                    </div>
                </div>

                <div class="item">
                    <img src="~/Imagenes/mazdaP.jpg" alt="Mazda" class="img-rounded">
                    <div class="carousel-caption">
                        <h3>Mazda Protege 2001</h3>
                       
                    </div>
                </div>

                <div class="item">
                    <img src="~/Imagenes/pougeot107.jpg" alt="Peugeot" class="img-rounded">
                    <div class="carousel-caption">
                        <h3>Peugeot 107 Premium</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Imagenes/terios.jpg" alt="Daihatsu">
                    <div class="carousel-caption">
                        <h3>Daihatsu Terios 2008</h3>
                    </div>
                </div>
            </div>

           
        </div>
    </div>

    <div class="col-xs-6">
        <div class="centrado">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Iniciar Sesion</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @if (ViewBag.mensaje != null)
                    {
                        <div class="form-group">
                            <div class="alert-success">
                                @ViewBag.mensaje
                            </div>
                        </div>
                    }



                    <div class="form-group">
                        @Html.LabelFor(model => model.user, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.user)
                            @Html.ValidationMessageFor(model => model.user)
                        </div>
                    </div>


                    <div class="form-group">
                       @Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Iniciar Sesion" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Registro", "Registro", "Cuenta")
            </div>

        </div>
        </div>


</div>
        

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


